@mixin border-black-1 {
        text-shadow:
                -0   -1px 0   #000000,
                0   -1px 0   #000000,
                -0    1px 0   #000000,
                0    1px 0   #000000,
                -1px -0   0   #000000,
                1px -0   0   #000000,
                -1px  0   0   #000000,
                1px  0   0   #000000,
                -1px -1px 0   #000000,
                1px -1px 0   #000000,
                -1px  1px 0   #000000,
                1px  1px 0   #000000,
                -1px -1px 0   #000000,
                1px -1px 0   #000000,
                -1px  1px 0   #000000,
                1px  1px 0   #000000;
}

@mixin border-black-2 {
  text-shadow:
          -0   -2px 0   #000000,
          0   -2px 0   #000000,
          -0    2px 0   #000000,
          0    2px 0   #000000,
          -2px -0   0   #000000,
          2px -0   0   #000000,
          -2px  0   0   #000000,
          2px  0   0   #000000,
          -1px -2px 0   #000000,
          1px -2px 0   #000000,
          -1px  2px 0   #000000,
          1px  2px 0   #000000,
          -2px -1px 0   #000000,
          2px -1px 0   #000000,
          -2px  1px 0   #000000,
          2px  1px 0   #000000,
          -2px -2px 0   #000000,
          2px -2px 0   #000000,
          -2px  2px 0   #000000,
          2px  2px 0   #000000,
          -2px -2px 0   #000000,
          2px -2px 0   #000000,
          -2px  2px 0   #000000,
          2px  2px 0   #000000;
}

@mixin border-black-3 {
        text-shadow:
                -0   -3px 0   #000000,
                0   -3px 0   #000000,
                -0    3px 0   #000000,
                0    3px 0   #000000,
                -3px -0   0   #000000,
                3px -0   0   #000000,
                -3px  0   0   #000000,
                3px  0   0   #000000,
                -1px -3px 0   #000000,
                1px -3px 0   #000000,
                -1px  3px 0   #000000,
                1px  3px 0   #000000,
                -3px -1px 0   #000000,
                3px -1px 0   #000000,
                -3px  1px 0   #000000,
                3px  1px 0   #000000,
                -2px -3px 0   #000000,
                2px -3px 0   #000000,
                -2px  3px 0   #000000,
                2px  3px 0   #000000,
                -3px -2px 0   #000000,
                3px -2px 0   #000000,
                -3px  2px 0   #000000,
                3px  2px 0   #000000,
                -3px -3px 0   #000000,
                3px -3px 0   #000000,
                -3px  3px 0   #000000,
                3px  3px 0   #000000,
                -3px -3px 0   #000000,
                3px -3px 0   #000000,
                -3px  3px 0   #000000,
                3px  3px 0   #000000;
}

@mixin border-black-5 {
  text-shadow:
          -0   -5px 0   #000000,
          0   -5px 0   #000000,
          -0    5px 0   #000000,
          0    5px 0   #000000,
          -5px -0   0   #000000,
          5px -0   0   #000000,
          -5px  0   0   #000000,
          5px  0   0   #000000,
          -1px -5px 0   #000000,
          1px -5px 0   #000000,
          -1px  5px 0   #000000,
          1px  5px 0   #000000,
          -5px -1px 0   #000000,
          5px -1px 0   #000000,
          -5px  1px 0   #000000,
          5px  1px 0   #000000,
          -2px -5px 0   #000000,
          2px -5px 0   #000000,
          -2px  5px 0   #000000,
          2px  5px 0   #000000,
          -5px -2px 0   #000000,
          5px -2px 0   #000000,
          -5px  2px 0   #000000,
          5px  2px 0   #000000,
          -3px -5px 0   #000000,
          3px -5px 0   #000000,
          -3px  5px 0   #000000,
          3px  5px 0   #000000,
          -5px -3px 0   #000000,
          5px -3px 0   #000000,
          -5px  3px 0   #000000,
          5px  3px 0   #000000,
          -4px -5px 0   #000000,
          4px -5px 0   #000000,
          -4px  5px 0   #000000,
          4px  5px 0   #000000,
          -5px -4px 0   #000000,
          5px -4px 0   #000000,
          -5px  4px 0   #000000,
          5px  4px 0   #000000,
          -5px -5px 0   #000000,
          5px -5px 0   #000000,
          -5px  5px 0   #000000,
          5px  5px 0   #000000,
          -5px -5px 0   #000000,
          5px -5px 0   #000000,
          -5px  5px 0   #000000,
          5px  5px 0   #000000;
}

@mixin border-white-5 {
        text-shadow:
                -0   -5px 0   #FFFFFF,
                0   -5px 0   #FFFFFF,
                -0    5px 0   #FFFFFF,
                0    5px 0   #FFFFFF,
                -5px -0   0   #FFFFFF,
                5px -0   0   #FFFFFF,
                -5px  0   0   #FFFFFF,
                5px  0   0   #FFFFFF,
                -1px -5px 0   #FFFFFF,
                1px -5px 0   #FFFFFF,
                -1px  5px 0   #FFFFFF,
                1px  5px 0   #FFFFFF,
                -5px -1px 0   #FFFFFF,
                5px -1px 0   #FFFFFF,
                -5px  1px 0   #FFFFFF,
                5px  1px 0   #FFFFFF,
                -2px -5px 0   #FFFFFF,
                2px -5px 0   #FFFFFF,
                -2px  5px 0   #FFFFFF,
                2px  5px 0   #FFFFFF,
                -5px -2px 0   #FFFFFF,
                5px -2px 0   #FFFFFF,
                -5px  2px 0   #FFFFFF,
                5px  2px 0   #FFFFFF,
                -3px -5px 0   #FFFFFF,
                3px -5px 0   #FFFFFF,
                -3px  5px 0   #FFFFFF,
                3px  5px 0   #FFFFFF,
                -5px -3px 0   #FFFFFF,
                5px -3px 0   #FFFFFF,
                -5px  3px 0   #FFFFFF,
                5px  3px 0   #FFFFFF,
                -4px -5px 0   #FFFFFF,
                4px -5px 0   #FFFFFF,
                -4px  5px 0   #FFFFFF,
                4px  5px 0   #FFFFFF,
                -5px -4px 0   #FFFFFF,
                5px -4px 0   #FFFFFF,
                -5px  4px 0   #FFFFFF,
                5px  4px 0   #FFFFFF,
                -5px -5px 0   #FFFFFF,
                5px -5px 0   #FFFFFF,
                -5px  5px 0   #FFFFFF,
                5px  5px 0   #FFFFFF,
                -5px -5px 0   #FFFFFF,
                5px -5px 0   #FFFFFF,
                -5px  5px 0   #FFFFFF,
                5px  5px 0   #FFFFFF;
}

@mixin border-white-8 {
        text-shadow:
                -0   -8px 0   #FFFFFF,
                0   -8px 0   #FFFFFF,
                -0    8px 0   #FFFFFF,
                0    8px 0   #FFFFFF,
                -8px -0   0   #FFFFFF,
                8px -0   0   #FFFFFF,
                -8px  0   0   #FFFFFF,
                8px  0   0   #FFFFFF,
                -1px -8px 0   #FFFFFF,
                1px -8px 0   #FFFFFF,
                -1px  8px 0   #FFFFFF,
                1px  8px 0   #FFFFFF,
                -8px -1px 0   #FFFFFF,
                8px -1px 0   #FFFFFF,
                -8px  1px 0   #FFFFFF,
                8px  1px 0   #FFFFFF,
                -2px -8px 0   #FFFFFF,
                2px -8px 0   #FFFFFF,
                -2px  8px 0   #FFFFFF,
                2px  8px 0   #FFFFFF,
                -8px -2px 0   #FFFFFF,
                8px -2px 0   #FFFFFF,
                -8px  2px 0   #FFFFFF,
                8px  2px 0   #FFFFFF,
                -3px -8px 0   #FFFFFF,
                3px -8px 0   #FFFFFF,
                -3px  8px 0   #FFFFFF,
                3px  8px 0   #FFFFFF,
                -8px -3px 0   #FFFFFF,
                8px -3px 0   #FFFFFF,
                -8px  3px 0   #FFFFFF,
                8px  3px 0   #FFFFFF,
                -4px -8px 0   #FFFFFF,
                4px -8px 0   #FFFFFF,
                -4px  8px 0   #FFFFFF,
                4px  8px 0   #FFFFFF,
                -8px -4px 0   #FFFFFF,
                8px -4px 0   #FFFFFF,
                -8px  4px 0   #FFFFFF,
                8px  4px 0   #FFFFFF,
                -5px -8px 0   #FFFFFF,
                5px -8px 0   #FFFFFF,
                -5px  8px 0   #FFFFFF,
                5px  8px 0   #FFFFFF,
                -8px -5px 0   #FFFFFF,
                8px -5px 0   #FFFFFF,
                -8px  5px 0   #FFFFFF,
                8px  5px 0   #FFFFFF,
                -6px -8px 0   #FFFFFF,
                6px -8px 0   #FFFFFF,
                -6px  8px 0   #FFFFFF,
                6px  8px 0   #FFFFFF,
                -8px -6px 0   #FFFFFF,
                8px -6px 0   #FFFFFF,
                -8px  6px 0   #FFFFFF,
                8px  6px 0   #FFFFFF,
                -7px -8px 0   #FFFFFF,
                7px -8px 0   #FFFFFF,
                -7px  8px 0   #FFFFFF,
                7px  8px 0   #FFFFFF,
                -8px -7px 0   #FFFFFF,
                8px -7px 0   #FFFFFF,
                -8px  7px 0   #FFFFFF,
                8px  7px 0   #FFFFFF,
                -8px -8px 0   #FFFFFF,
                8px -8px 0   #FFFFFF,
                -8px  8px 0   #FFFFFF,
                8px  8px 0   #FFFFFF,
                -8px -8px 0   #FFFFFF,
                8px -8px 0   #FFFFFF,
                -8px  8px 0   #FFFFFF,
                8px  8px 0   #FFFFFF;
}
