@import "../../assets/style/app";

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;


  @include desktop {
    padding-top: 190px;
  }

  .arrow {
    display: block;
    width: 60px;
    height: 60px;

    @include desktop {
      width: 80px;
      height: 80px;
    }

  }

  .videoWrapper {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    width: 270px;
    height: 466px;
    border: 8px solid #ffffff;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));

    @include desktop {
      width: 314px;
      height: 533px;
      border: 16px solid #ffffff;
      border-radius: 48px;
    }

    &:hover {
      .pauseBtn {
        display: block;
      }
      .playBtn {
        display: block;
      }
    }

    .preview {
      position: relative;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;

      @include desktop {
        border-radius: 32px;
      }
    }

    & > div {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
    }

    .playBtn {
      @include button;
      @include absoluteCenter;
      z-index: 101;
      display: none;
      width: 200px;
      height: 200px;

      @include desktop {
        width: 293px;
        height: 293px;
      }

      svg {
        width: 80px;
        height: 80px;
        fill: #fff;

        @include desktop {
          width: 200px;
          height: 200px;
        }
      }
    }

    .fullscreenBtn {
      @include button;
      position: absolute;
      z-index: 5;
      width: 50px;
      height: 50px;
      right: 10px;
      top: 10px;

      @include desktop {
        width: 50px;
        height: 50px;
      }

      svg {
        width: 50px;
        height: 50px;
        fill: #fff;

        @include desktop {
          width: 50px;
          height: 50px;
        }
      }
    }

    .pauseBtn {
      @include button;
      @include absoluteCenter;
      z-index: 5;
      width: 200px;
      height: 200px;
      display: none;

      @include desktop {
        width: 293px;
        height: 293px;
      }

      svg {
        width: 80px;
        height: 80px;
        fill: #fff;

        @include desktop {
          width: 170px;
          height: 170px;
        }
      }
    }
  }



}
